In [247]:
import pandas as pd

In [248]:
data = pd.read_csv("Housing.csv")

In [249]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [250]:
data = data.drop(["stories","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"],axis=1)

In [251]:
data

        price  area  bedrooms  bathrooms mainroad guestroom
0    13300000  7420         4          2      yes        no
1    12250000  8960         4          4      yes        no
2    12250000  9960         3          2      yes        no
3    12215000  7500         4          2      yes        no
4    11410000  7420         4          1      yes       yes
..        ...   ...       ...        ...      ...       ...
540   1820000  3000         2          1      yes        no
541   1767150  2400         3          1       no        no
542   1750000  3620         2          1      yes        no
543   1750000  2910         3          1       no        no
544   1750000  3850         3          1      yes        no

[545 rows x 6 columns]

In [252]:
# remove empty row ya column
data = data.dropna()

In [253]:
data

        price  area  bedrooms  bathrooms mainroad guestroom
0    13300000  7420         4          2      yes        no
1    12250000  8960         4          4      yes        no
2    12250000  9960         3          2      yes        no
3    12215000  7500         4          2      yes        no
4    11410000  7420         4          1      yes       yes
..        ...   ...       ...        ...      ...       ...
540   1820000  3000         2          1      yes        no
541   1767150  2400         3          1       no        no
542   1750000  3620         2          1      yes        no
543   1750000  2910         3          1       no        no
544   1750000  3850         3          1      yes        no

[545 rows x 6 columns]

In [254]:
data.price.value_counts()

price
4200000    17
3500000    17
4900000    12
5250000     9
5600000     9
           ..
2135000     1
1960000     1
1855000     1
1820000     1
1767150     1
Name: count, Length: 219, dtype: int64

In [255]:
price_greterthen5_entries = data.groupby("price").filter(lambda x:len(x)>=5)

In [256]:
price_greterthen5_entries

       price  area  bedrooms  bathrooms mainroad guestroom
27   8400000  8875         3          1      yes        no
28   8400000  7950         5          2      yes        no
29   8400000  5500         4          2      yes        no
30   8400000  7475         3          2      yes        no
31   8400000  7000         3          1      yes        no
..       ...   ...       ...        ...      ...       ...
516  2450000  3240         2          1       no       yes
517  2450000  3000         2          1      yes        no
518  2450000  3500         2          1      yes       yes
519  2450000  4840         2          1      yes        no
520  2450000  7700         2          1      yes        no

[230 rows x 6 columns]

In [257]:
price_greterthen5_entries .price.value_counts()

price
4200000    17
3500000    17
4900000    12
5600000     9
3150000     9
3640000     9
5250000     9
3360000     8
5950000     8
3290000     8
2940000     8
3920000     7
3850000     7
4550000     7
2660000     7
3010000     7
6650000     6
3430000     6
3780000     6
2450000     6
4270000     6
4690000     6
8400000     5
4480000     5
4340000     5
4620000     5
5740000     5
6300000     5
3710000     5
3990000     5
4060000     5
Name: count, dtype: int64

In [258]:
data.area.value_counts()

area
6000    24
3000    14
4500    13
4000    11
6600     9
        ..
3360     1
1700     1
3649     1
2990     1
3620     1
Name: count, Length: 284, dtype: int64

In [259]:

area_greaterthen_5__entries = data.groupby("area").filter(lambda x:len(x)>=5)

In [260]:
area_greaterthen_5__entries

       price  area  bedrooms  bathrooms mainroad guestroom
11   9681000  6000         4          3      yes       yes
13   9240000  3500         4          2      yes        no
15   9100000  6000         4          1      yes        no
16   9100000  6600         4          2      yes       yes
18   8890000  4600         3          2      yes       yes
..       ...   ...       ...        ...      ...       ...
526  2310000  3180         2          1      yes        no
532  2135000  3000         2          1       no        no
534  2100000  3000         4          1      yes        no
540  1820000  3000         2          1      yes        no
544  1750000  3850         3          1      yes        no

[176 rows x 6 columns]

In [261]:
area_greaterthen_5__entries.area.value_counts()

area
6000    24
3000    14
4500    13
4000    11
5500     9
6600     9
3600     8
3640     7
3630     7
4040     7
3180     7
6360     7
3500     6
5400     6
2145     6
4600     5
7000     5
4800     5
3450     5
3520     5
3850     5
3480     5
Name: count, dtype: int64

In [262]:
data.bedrooms.value_counts()

bedrooms
3    300
2    136
4     95
5     10
6      2
1      2
Name: count, dtype: int64

In [263]:
bedroo_greaterthan_2_intries = data.groupby("bedrooms").filter(lambda x: len(x)>1)

In [264]:
bedroo_greaterthan_2_intries

        price  area  bedrooms  bathrooms mainroad guestroom
0    13300000  7420         4          2      yes        no
1    12250000  8960         4          4      yes        no
2    12250000  9960         3          2      yes        no
3    12215000  7500         4          2      yes        no
4    11410000  7420         4          1      yes       yes
..        ...   ...       ...        ...      ...       ...
540   1820000  3000         2          1      yes        no
541   1767150  2400         3          1       no        no
542   1750000  3620         2          1      yes        no
543   1750000  2910         3          1       no        no
544   1750000  3850         3          1      yes        no

[545 rows x 6 columns]

In [265]:
data.bathrooms.value_counts()

bathrooms
1    401
2    133
3     10
4      1
Name: count, dtype: int64

In [266]:
data.mainroad.value_counts()

mainroad
yes    468
no      77
Name: count, dtype: int64

In [267]:
data.guestroom.value_counts()

guestroom
no     448
yes     97
Name: count, dtype: int64

In [268]:
data.describe()

              price          area    bedrooms   bathrooms
count  5.450000e+02    545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    1.286239
std    1.870440e+06   2170.141023    0.738064    0.502470
min    1.750000e+06   1650.000000    1.000000    1.000000
25%    3.430000e+06   3600.000000    2.000000    1.000000
50%    4.340000e+06   4600.000000    3.000000    1.000000
75%    5.740000e+06   6360.000000    3.000000    2.000000
max    1.330000e+07  16200.000000    6.000000    4.000000

In [269]:
data

        price  area  bedrooms  bathrooms mainroad guestroom
0    13300000  7420         4          2      yes        no
1    12250000  8960         4          4      yes        no
2    12250000  9960         3          2      yes        no
3    12215000  7500         4          2      yes        no
4    11410000  7420         4          1      yes       yes
..        ...   ...       ...        ...      ...       ...
540   1820000  3000         2          1      yes        no
541   1767150  2400         3          1       no        no
542   1750000  3620         2          1      yes        no
543   1750000  2910         3          1       no        no
544   1750000  3850         3          1      yes        no

[545 rows x 6 columns]

In [270]:
data["area_per_bed"] = data["area"] / data["bedrooms"]

In [271]:
data.area_per_bed.describe()

count     545.000000
mean     1819.852599
std       839.091825
min       381.000000
25%      1237.500000
50%      1666.666667
75%      2183.333333
max      6600.000000
Name: area_per_bed, dtype: float64

In [272]:
data2 = data[data["area_per_bed"] >=500]

In [273]:
data2

        price  area  bedrooms  bathrooms mainroad guestroom  area_per_bed
0    13300000  7420         4          2      yes        no   1855.000000
1    12250000  8960         4          4      yes        no   2240.000000
2    12250000  9960         3          2      yes        no   3320.000000
3    12215000  7500         4          2      yes        no   1875.000000
4    11410000  7420         4          1      yes       yes   1855.000000
..        ...   ...       ...        ...      ...       ...           ...
540   1820000  3000         2          1      yes        no   1500.000000
541   1767150  2400         3          1       no        no    800.000000
542   1750000  3620         2          1      yes        no   1810.000000
543   1750000  2910         3          1       no        no    970.000000
544   1750000  3850         3          1      yes        no   1283.333333

[544 rows x 7 columns]

In [274]:
data2["price_per_area"] = round(data2["price"]*100000 / data["area"],2)

C:\Users\Saurabh Maurya\AppData\Local\Temp\ipykernel_6428\650499772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["price_per_area"] = round(data2["price"]*100000 / data["area"],2)

In [275]:
data3 = data2[data2["price_per_area"] >2.703956e+07]

In [276]:
data3.drop(columns=["area_per_bed","price_per_area"],axis=1,inplace=True)

C:\Users\Saurabh Maurya\AppData\Local\Temp\ipykernel_6428\3632004020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.drop(columns=["area_per_bed","price_per_area"],axis=1,inplace=True)

In [277]:
data3

        price  area  bedrooms  bathrooms mainroad guestroom
0    13300000  7420         4          2      yes        no
1    12250000  8960         4          4      yes        no
2    12250000  9960         3          2      yes        no
3    12215000  7500         4          2      yes        no
4    11410000  7420         4          1      yes       yes
..        ...   ...       ...        ...      ...       ...
540   1820000  3000         2          1      yes        no
541   1767150  2400         3          1       no        no
542   1750000  3620         2          1      yes        no
543   1750000  2910         3          1       no        no
544   1750000  3850         3          1      yes        no

[543 rows x 6 columns]

In [278]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [279]:
col_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ["mainroad", "guestroom"]),
    remainder="passthrough"
)

In [280]:
lr = LinearRegression()

In [281]:
scaler = StandardScaler()

In [282]:
model = make_pipeline(col_trans,lr)

In [283]:
input_data = data3.drop(columns="price")
output_data = data3["price"]

In [284]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [285]:
model.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['mainroad', 'guestroom'])])),
                ('linearregression', LinearRegression())])

In [286]:
model.score(x_test,y_test)

0.6192772665356585

In [287]:
input = pd.DataFrame([[7240,4,2,"yes","no"]],columns=["area","bedrooms","bathrooms","mainroad","guestroom"])

In [288]:
prediction = model.predict(input)
print(round(prediction[0], 0))

6810772.0

In [289]:
import pickle as pk

In [290]:
pk.dump(model,open("House_predicrion_model.pkl","wb"))

In [291]:
data3.to_csv("Cleaned_data.csv")